*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* navbar */

.menu-bar-1{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 50px;

}
.menu-bar{
   background: white;
   text-align: right;
   padding-right: 10px;
}


.menu-bar ul{
   display: inline-flex;
   list-style: none;
   color: black;
}

.menu-bar ul li{
   width: 100px;
   margin: 15px;
   padding: 10px;
}

.menu-bar ul li a{
   text-decoration: none;
   color: black;
   font-size: 22px;
}


.sub-menu{
   display: none;
}

 .menu-bar ul li:hover .sub-menu{
   display:block;
   position: absolute;
   margin-top: 10px;
   margin-left: -30px;
 }


 .menu-bar ul li:hover .sub-menu ul{
   display: block;
   margin: 10px;
 }

 .menu-bar ul li:hover .sub-menu ul li{
   width: 300px;
   padding: 10px;
   border-radius: 5px;
   text-align: left;
   font-size: 20px;
   border: 1px solid black;
 }


/* ----------------------------- */


.fcontent{
 align-items: center;
 justify-content: space-around;
 display: flex;
 margin-top: 90px;

}

.fcontent .fcontent-1{
    padding: 10px 6px;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-right: 20px;
}

.fcontent .fcontent-1 strong{
    color: green;
    padding-bottom: 40px;
}

.fcontent-1 h1{
    font-size: 70px;
    padding-bottom: 5px;
}

.fcontent-1 h3{
    font-size: 30px;
    padding-bottom: 5px;
}

.fcontent-1 p{
    font-size: 18px;
    padding-bottom: 5px;
}

.fcontent-item{
        align-items: center;
        justify-content:space-around;
        display: flex;
 }

 .fcontent-item .hero-btn{
     background-color:gold;
     display: inline-block;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding: 16px 34px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;

 }

 /* happy customers */

 .fcontainer{
    background-color:lightblue;
 }

 

 .imgg{
    width: 50%;
    padding: 8px;
    
 }

 .fcontitem-2 {
    display: flex;
    width: 100vh;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 10px;

 }

 .fcontitem-1{
    text-align: center;
    padding-bottom: 34px;
    font-size: 28px;
    padding-top: 80px;

 }


 /*--------------- next box ------------------*/

 .fbox{
    display: flex;
    justify-items:space-around;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
 }
 
 .fbox .flex-1{
    padding:20px 11px 14px 38px;

 }

 .fbox .flex-2{
    padding: 8px 38px 8px 18px ;
    text-align:center;
 }

 .fbox .flex-2 h2{
    font-size: 50px;
    padding-bottom: 35px;
 }

 .fbox .flex-2 p{
    font-size: 21px;
    padding-bottom: 10px;
 }

 .fbox .flex-2 .hero-btn-1{
    background-color:green;
    display: inline-block;
   text-decoration: none;
   color:white;
   border: 1px solid black;
   padding: 16px 34px;
   font-size: 15px;
   cursor: pointer;
   border-radius: 30px;

}


/* column-2 */

.fbox2{
    display: flex;
    justify-content:space-between;
    align-items: center ;
}

.fbox2-1{
     text-align: left;
     padding: 10px 40px 10px 55px;
}

.fbox2-1 h2{
    font-size: 50px;
    padding-bottom: 14px;
}

.fbox2-1 p{
    font-size: 20px;
}



/* column-3 */

.ishuu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
    padding-top: 55px;
    padding-bottom: 50px;
}

.ishuu1-3{
   
    text-align: left;
    padding: 10px 40px 10px 55px;
}   

.ishuu1-3 h2{
    font-size: 45px;
    padding-bottom: 14px;
}

.ishuu1-3 p{
    font-size: 19px;
    padding-bottom: 14px;
}


/* column-3 */

.issi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.issi-1{
    padding: 8px 18px 8px 48px;
}

.issi-2{
    text-align: left;
    padding-right: 60px;
}

.issi-2 h2{
    font-size: 40px;
    padding-bottom: 25px;
}

.issi-2 p{
    font-size: 20px;
}

/* column-4 */


 /*----------------------------------------------------- column-3-------------------------------------------------------------*/
 .course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px; ;
}

h1{
   font-size: 45px;
   font-weight: 600;
}

.course h1 strong{
    color: green;
}

p{
   color:darkslategray;
   font-size: 14px; ;
   font-weight:300;
   line-height: 22px;
   padding: 10px;

}

.row{
   margin-top: 5%;
   display: flex;
   justify-content:space-between ;
}

.course-col{
   flex-basis: 31%;
   background: #fff3f3;
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
   transition: 0.4s;
   height: 200px;
   
}

h3{
   text-align: center;
   font-weight: 600;
   margin:10px 0  ;
   font-size: 23px;
}

p{
    font-size: 18px;
}

.course-col:hover{
   box-shadow: 0 0 20px 0px rgba(0,0,0,2);
}

/*----------------------------------------------------- column-4-------------------------------------------------------------*/
.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px; ;
}

h1{
   font-size: 45px;
   font-weight: 600;
}

p{
   color:darkslategray;
   font-size: 14px; ;
   font-weight:300;
   line-height: 22px;
   padding: 10px;

}

.row{
   margin-top: 5%;
   margin-bottom: 2px;
   display: flex;
   justify-content:space-between ;
}

.courses-col-1{
   flex-basis: 32.5%;
   background:rgb(217, 217, 243);
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 25px 12px;
   box-sizing: border-box;
   transition: 0.4s;
   height: 300px;
   border: blue 5px solid;

   
}

.courses-col-2{
flex-basis: 32.5%;
background:rgb(221, 244, 221);
border-radius: 10px;
margin-bottom: 15%;
padding: 20px 12px;
box-sizing: border-box;
transition: 0.4s;
height: 300px;
border: green 5px solid;
}

.courses-col-3{
flex-basis: 32.5%;
background: rgb(246, 238, 224);
border-radius: 10px;
margin-bottom: 5%;
padding: 20px 12px;
box-sizing: border-box;
transition: 0.4s;
height: 300px;
border:orange 5px solid;
}

.fa-solid{
   color: black;
}

.row-1{
    margin-top:-10;
    display: flex;
    justify-content:space-between ;
 }
.courses-col-5{
    flex-basis: 32.5%;
    background: rgb(246, 238, 224);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.4s;
    height: 300px;
    border:orange 5px solid;
    }

    .courses-col-4{
        flex-basis: 32.5%;
        background:rgb(221, 244, 221);
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.4s;
        height: 300px;
        border: green 5px solid;
        }

        
.courses-col-6{
    flex-basis: 32.5%;
    background:rgb(217, 217, 243);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px 12px;
    box-sizing: border-box;
    transition: 0.4s;
    height: 300px;
    border: blue 5px solid;
 
    
 }
h3{
   text-align: center;
   font-weight: 600;
   margin:10px 0  ;
   font-size: 23px;
}

p{
    font-size: 18px;
}

.courses-col-1:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
 }

 .courses-col-2:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
 }
 .courses-col-3:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
 }

 .courses-col-4:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
 }

 .courses-col-5:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
 }

 .courses-col-6:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
 }


 /* catalog */

.catalog{
    background-color: lightblue;
    height:800px;

}

.cataloge-1{
    text-align: center;
    font-size: 25px;
    padding-top: 18px;
}
 .cataloge-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
 }

 .cataloge2-1{
    background-color: #fff;
    padding: 15px 15px 13% 15px;
 }

 .cataloge2-1-1{
    background-color: #fff;
    padding: 15px 15px 15% 15px;
 }

 
 .cataloge2-1-2{
    background-color: #fff;
    padding: 15px 15px 11% 15px;
 }


 .demo{ 
   display:inline-block;
   text-align: center;
   background-color: #fff;
   width: 50%;
   margin-left: 25%;
   margin-top: 5%;
   margin-bottom: 5%;
   border: black 1.8px solid;
   padding-top: 40px;
   border-radius: 20px;
 }

 .demo h1{
   padding-bottom: 25px;
   font-size: 38px;
 }

 .demo p{
   display: inline-block;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   padding-bottom: 25px;
 }


.demo .hero-btn{
   margin-bottom: 25px;
}


/*---------------------------- integration page----------------------------*/

.inte-content{
   display: flex;
   justify-content:space-around;
   align-items: center;
   margin-top: 25px ;
}

.inte-item-1 h1{
  font-size: 60px;
}

.inte-item-1 strong{
   color: green;
}

.inte-item-1 p{
   font-size: 22px;
}

/* integrations */

.integration{
   background-color: skyblue;
   height: 1550px;
}

.integrate{
   text-align: center;
   padding-top: 60px;
   padding-bottom: 20px;
 
}

.integrate-int{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 30px;

}


.integrate-int-1{
   background-color: #fff;
   padding: 5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}



.integrate-int-2{
   background-color: #fff;
   padding: 5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;
 
}



.integrate-int-3{
   background-color: #fff;
   padding: 5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}

.integrate-intt{
   
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 60px;
   
}


.integrate-int-4{
   background-color: #fff;
   padding: 5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;  
    margin: 5px 5px 5px 5px;

}


.integrate-int-5{
   background-color: #fff;
   padding: 5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}


.integrate-int-6{
   background-color: #fff;
   padding:5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}


.integrate-int-7{
   background-color: #fff;
   padding:5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}



.integrate-int-8{
   background-color: #fff;
   padding:5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}



.integrate-int-9{
   background-color: #fff;
   padding:5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}




.integrate-int-10{
   background-color: #fff;
   padding:5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}



.integrate-int-11{
   background-color: #fff;
   padding:5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}



.integrate-int-12{
   background-color: #fff;
   padding:5px 5px 5px 5px ;
   border: 2px solid black;
   border-radius: 5%;
   text-align: center;
   margin: 5px 5px 5px 5px;

}


/*------------------------------------------------- Pricing Page------------------------------------------- */


.pricing-1{
   text-align: center;
   
}

.pricing-1 strong{
   color: green;
}


/* ----------------- three-boxese --------------- */

.first-box{
  border: 3px solid orangered;
  background-color: rgb(247, 227, 216);
  margin: 40px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  width: 450px;
  text-align: center;
  height: 850px;
  border-radius: 40px;

}

.first-box h2{
   color: blue;
   font-size: 40px;
}


.second-box{
   border: 3px solid orangered;
   background-color: rgb(247, 227, 226);
   margin: 40px;
   padding-left: 30px;
   padding-top: 30px;
   padding-right: 30px;
   width: 450px;
   text-align: center;
   height: 850px;
   border-radius: 40px;
 
 }
 
 .second-box h2{
    color: blue;
    font-size: 40px;
 }

 .boxese{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .ins{
   text-align: center;
   font-size: 18px;
   color: rgb(93, 93, 193);
 }

 .stores-1 h1{
   text-align: center;
 }

 .stores-2 img{
   align-items: center;
   padding-bottom: 30px;
   padding-top: 30px;
   padding-left: 160px;
 }


 .fcontitemm{
   display: flex;
   
    justify-content:center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 120px;
    background-color: rgb(215, 235, 242);
    padding-right: 18px;
    padding-left: 18px;
 }
 
 .imgg{
   width: 50%;
   padding: 8px;
   
}
.fcontitem{
text-align: center;
padding-bottom: 34px;
font-size: 28px;
padding-top: 80px;

}

.fcontitem strong{
   color: green;
   font-size: 20px;
}




/*------------------------- about-us page -----------------------*/

.exchanged{
   background-color: green;
   padding: 8px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.exchanged-1{
   color: #fff;
   text-align: left;
   padding-left: 20px;
   padding-top: 20px;
}

.exchanged-1  p{
   color: #fff;
}

/* -------------------- */
.story{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 70px;
}

.story-1 p{
   font-size: 20px;
}

.story-1 h1{
   font-size: 58px;
}
/* ----------------------------------- */

.mission{
   display: flex;
   justify-content: space-around;
   align-items: center ;
   padding: 60px;
}

.mission-1{
   background-color:rgb(150, 150, 248);
   padding: 35px;
   font-size: 30px;
   border-radius: 20px;
   width: 70vh;
   height: 35vh;
   text-align: center;
}



.mission-2{
   background-color:rgb(244, 193, 99);
   padding: 35px;
   font-size: 30px;
   border-radius: 20px;
   width: 70vh;
   height: 35vh;
   text-align: center;
}

.values{
   text-align: center;
}

.values h4{
   font-size: 37px;
}

.values h1{
   font-size: 60px ;
}

.values h2{
   font-size: 28px;
}

.values strong{
   color: green;
}


/*-------------------- chat-widget page ---------------------*/



.widget{
   align-items: center;
   justify-content: center;
   display: flex;
   padding-bottom: 70px;
   margin-top: 2px;
  }
  
  .widget .fcontent-1{
      padding: 10px 6px;
      padding-left: 30px;
  }
  
  .widget .fcontent-1 strong{
      color: green;
  }
  
  .fcontent-1 h1{
      font-size: 45px;
      padding-bottom: 5px;
  }
  

  
  .fcontent-1 p{
      font-size: 20px;
      padding-bottom: 5px;
  }
  
  .widget-item{
          align-items: center;
          justify-content:space-evenly;
          display: flex;
   }
  
   .fcontent-item .hero-btn-1{
       background-color: white;
       display: inline-block;
      text-decoration: none;
      color:black;
      border: 1px solid black;
      padding: 16px 34px;
      font-size: 15px;
      cursor: pointer;
      border-radius: 30px;
  
   }

   /* ---------------- */
     
  
   .entry-points{
      text-align: center;
      margin-top: 50px;
   }
   .three-points{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 35px;
      margin-bottom: 40px;
   }

   .points-1{
      border: 2px solid black;
      text-align: center;
      padding: 10px;
      border-radius: 30px;
   }

   /* ------------- */

   .critical{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 8%;
      margin-bottom: 8px;
      padding: 30px;
   }

   /* --------------------------- */

   .purchase{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 8px;
      padding: 40px;
   }

   /* ------------------ */

   .post-purchase{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 8px;
      padding: 40px;
   }

    .course-widget{
      width: 80%;
      margin: auto;
      justify-content:space-around ;
      text-align: center;
      padding-top: 100px; ;
  }